body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main {
  display: flex;
  justify-content: center;
  margin: auto 0;
  padding: 40px 0px;
}
h1 {
  color: black;
  text-align: center;
  margin: 0;
}
.form {
  background-color: rgba(188, 187, 188, 0.307);
  border-radius: 10px;
  min-width: 26vw;
  padding: 40px;
  border: 2px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 400px) {
  .form {
    padding: 30px;
  }
  .form h1 {
    font-size: 24px;
  }
}
p {
  color: rgba(0, 0, 0, 0.852);
  margin-bottom: 2px;
}
select {
  border: none;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
}
input {
  border-radius: 4px;
  text-decoration: none;
  border: none;
  margin-bottom: 5px;
  padding: 8px 5px;
}
button {
  border: 1px solid;
  background-color: rgb(31, 100, 31);
  border-color: rgb(31, 100, 31);
  color: white;
  font-weight: 600;
  padding: 10px;
  transition: 0.6s ease;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: rgb(31, 100, 31);
}
